@page "/counter"
@using Exchange.UI.Library.Pages.Admin.TagArea

@inherits BarterBaseComponent<Counter>
@* @rendermode InteractiveServer *@
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>
<MudAlert Severity="Severity.Normal">The reactor type is RBMK-1000</MudAlert>
<MudAlert Severity="Severity.Info">The reactor was fired up successfully</MudAlert>
<MudAlert Severity="Severity.Success">The reactor is running at optimum temperature</MudAlert>
<MudAlert Severity="Severity.Warning">The reactor temperature exceeds the optimal range</MudAlert>
<MudAlert Severity="Severity.Error">Meltdown is imminent</MudAlert>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


<TagComponent></TagComponent>
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }


}


