@page "/category/create"
@page "/category/{categoryId}"
@using Exchange.UI.Library.Helper.BaseComponets
@using Microsoft.AspNetCore.Components.Forms

@using static Microsoft.AspNetCore.Components.Web.RenderMode
@rendermode InteractiveServer
@inherits BarterBaseComponent<CategoryCreate>

<h3>CategoryCreate</h3>
<RadzenButton ButtonStyle="ButtonStyle.Info" ButtonType=ButtonType.Button Click="@GoBack">Back</RadzenButton>
<h3>TagCreate</h3>


<div Class="rz-p-0 rz-p-md-12">

    <RadzenTemplateForm TItem="CategoryDTO" Data=@model Submit=@OnSubmit InvalidSubmit=@OnInvalidSubmit>
        <RadzenStack Gap="1rem" Class="rz-p-sm-12">
            <RadzenFormField Text="Tag Name" Variant="@variant">
                <ChildContent>
                    <RadzenTextBox Name="FirstName" @bind-Value=@model.CategoryName />
                </ChildContent>
                <Helper>
                    <RadzenRequiredValidator Component="FirstName" Text="First name is required." />
                </Helper>
            </RadzenFormField>
            <RadzenCheckBox Name="IsPublic" @bind-Value=@model.IsPublic />
            <RadzenButton ButtonType="ButtonType.Submit" Text="Submit"></RadzenButton>
        </RadzenStack>
    </RadzenTemplateForm>


</div>