@page "/tag/create"
@page "/tag/{TagId}"
@using Exchange.UI.Library.Helper.BaseComponets
@inherits BarterBaseComponent<TagForm>

<RadzenButton ButtonStyle="ButtonStyle.Info" ButtonType=ButtonType.Button Click="@GoBack">Back</RadzenButton>
<h3>TagCreate</h3>
@if (!string.IsNullOrEmpty(AlertMessage))
{
    <RadzenAlert AllowClose="true" AlertStyle="@AlertStyleType" Variant="Variant.Flat" Shade="Shade.Lighter">
        @AlertMessage
    </RadzenAlert>

}

<div Class="rz-p-0 rz-p-md-12">

    <RadzenTemplateForm TItem="TagDTO" Data=@model Submit=@OnSubmit InvalidSubmit=@OnInvalidSubmit>
        <RadzenStack Gap="1rem" Class="rz-p-sm-12">
            <RadzenFormField Text="Tag Name" Variant="@variant">
                <ChildContent>
                    <RadzenTextBox Name="FirstName" @bind-Value=@model.TagName />
                </ChildContent>
                <Helper>
                    <RadzenRequiredValidator Component="FirstName" Text="First name is required." />
                </Helper>
            </RadzenFormField>
            <RadzenCheckBox Name="IsPublic" @bind-Value=@model.IsPublic />
            <RadzenButton ButtonType="ButtonType.Submit" Text="Submit"></RadzenButton>
        </RadzenStack>
    </RadzenTemplateForm>


</div>
@code {
    //  Variant variant = Variant.Outlined;





}